@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: black;
  color: orange;
  font-size: 20px;
}

.pet {
  border: 1px solid white;
  margin: 8px;
  padding: 8px;
  width: 90%;
}

.pet .actions {
  color: crimson;
  font-weight: bold;
}

button {
  display: block;
}

input {
  width: 25%;
  border: 1px solid white;
  border-radius: 15px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
