@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  font-family: Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active {
  color: orange;
}

.post {
  border: 1px solid grey;
  margin: 8px;
  padding: 8px;
}

.post h2 {
  font-weight: bold;
}

.navbar {
  width: 100%;
}

.navbar ul {
  display: flex;
  padding: 8px;
  justify-content: center;
}

.navbar ul li {
  margin-right: 16px;
}