@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/variables';
@import './styles/typography';
@import './styles/layout';
@import './styles/mixins';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active {
  border: 1px solid;
  padding: 10px;
  background: orange;
  color: white;
  border-radius: 15px;
}

.post {
  border: 1px solid grey;
  margin: 8px;
  padding: 8px;
}

.post h2 {
  font-weight: bold;
}

.navbar {
  width: 100%;
  margin-bottom: 5vh;
  padding: 10px;
}

.navbar ul {
  display: flex;
  padding: 8px;
  justify-content: center;
}

.navbar ul li {
  margin-right: 16px;
}

.sub-title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  @include button-styles
}

.title {
  @include center-element
}